body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
    background: black;
    background-image: url(brick.avif  );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
    font-family: 'Nunito', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;    
}

body {  
    background  : whitesmoke; 
    border-radius: 50px;
    border:10px #6b6666 solid;
    width: 100vw;
    max-width: 1000px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 10px #000000aa;
    padding: 5px;
    margin-top: 150px;
    margin-bottom: 50px;
}