html {
    background: #6b6666;
    background-image: url(Deepslate.png);
    background-attachment: fixed;
    background-blend-mode: overlay;
    font-family: 'Nunito', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
        background  : white; 
        background-image: url(brick.jpg);
        border-radius: 50px;
        width: 100vw;
        max-width: 650px;
        text-align: center;
        border-radius: 20px;
        box-shadow: 0 0 10px #000000aa;
        padding: 25px;
        margin-top: 150px;
        margin-bottom: 50px;
        padding-bottom: 50px;
}

@font-face {
    font-family: kodo mono;
    src: url(KodeMono-VariableFont_wght.ttf);
}

h1 {
    font-family: kodo mono;
}

h2 {
    font-family: kodo mono;
}

h3 {
    font-family: kodo mono;
}

p {
    font-family: kodo mono;
}

a:link {
    color: purple;
    text-decoration: none;
}

a:visited {
    color: green;
    text-decoration: none;
}

a:hover, a:active {
    color: blueviolet;
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: blue;
}

.extra1 {
    background-image: url(obsidian.jpg);
    background-repeat: repeat-x;
    background-position: center;
    right: 0px;
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 5;
}

.extra2 {
    z-index: 2;
    height: 800px;
    width: 100%;
    position: absolute;
    right: -350px;
    top: 2000px;
    background-image: url(enchant.webp);
    background-repeat: no-repeat;
    background-position: center;
}

.extra3 {
    z-index: 2;
    height: 800px;
    width: 100%;
    position: absolute;
    right: 400px;
    top: -50px;
    background-image: url(dragon.png);
    background-repeat: no-repeat;
    background-position: center;
}

.extra4 {
    z-index: 2;
    height: 800px;
    width: 100%;
    position: absolute;
    right: -990px;
    top: 2000px;
    background-image: url(Herobrine.webp);
    transform: rotate(330deg);
    background-repeat: no-repeat;
    background-position: center;
}

.extra5 {
    z-index: 2;
    height: 800px;
    width: 100%;
    position: absolute;
    right: -350px;
    top: -100px;
    background-image: url(end.webp);
    background-repeat: no-repeat;
    background-position: center;
}